<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="_0052">

    <header class="_0052-sect_1">

        <!-- Navbar Start -->
        <nav class="topnav">
            <!-- Logo -->
            <a href="#" class="topnav__logo-link">
                <img src="images/logo.png" alt="Website Logo" class="topnav__logo">
            </a>
                
                <!-- Navigation Links + Dropdown Menu (optional) + Search Bar (optional) -->
                <div class="topnav__link-box">
                    <a href="#" class="topnav__link topnav__link--3">About</a>
                    <a href="#" class="topnav__link topnav__link--4">Contact</a>
                    
                    <!-- Icon Dropdopwn -->
                    <div class="topnav__link-dot-dropdown">
                        <span class="topnav__link-dot-icon-box" onclick="openTopnavLinkDotDropDown()">
                            <svg class="topnav__link-dot-icon">
                                <use xlink:href="images/sprite.svg#icon-dots-three-horizontal"></use>
                            </svg>
                        </span>
                        <div id="topNavLinkDotDropdown_1" class="topnav__link-dot-dropdown-content">
                          <a href="#" class="topnav__link-dot-link topnav__link-dot-link--4">
                              Contact
                          </a>
                          <a href="#" class="topnav__link-dot-link topnav__link-dot-link--5">
                              Services
                          </a>
                        </div>
                    </div>

                </div>

        </nav>
        <!-- Navbar End -->

        <!-- Mobile Navbar Start -->

        <nav class="topnav-mobilenav">

            <!-- Logo -->
            <a href="#" class="topnav-mobilenav__logo-link">
                <img src="images/logo.png" alt="Website Logo" class="topnav-mobilenav__logo">
            </a>

             <!-- Hamburger Icon -->
             <div class="topnav-mobilenav__icon" onclick="openMobileMenu()">
                <div class="topnav-mobilenav__icon-line"></div>
                <div class="topnav-mobilenav__icon-line"></div>
                <div class="topnav-mobilenav__icon-line"></div>
            </div>

        </nav>
          
        <nav class="topnav-mobilenav__mobile-menu">
            <div class="topnav-mobilenav__link-dropdown-search-box" id="mobileLinks">
            <div class="topnav-mobilenav__link-box">
                <a href="#" class="topnav-mobilenav__link">News</a>
                <a href="#" class="topnav-mobilenav__link">Contact</a>
                <a href="#" class="topnav-mobilenav__link">About</a>
            </div>
            <!-- Dropdown Start -->
            <div class="topnav-mobilenav__hover-dropdown">
                <button onclick="openClickMobileDropDown()" class="topnav-mobilenav__hover-dropbtn">
                    Dropdown
                    <svg class="topnav-mobilenav__caret-icon">
                        <use xlink:href="images/sprite.svg#icon-arrow_drop_down"></use>
                    </svg>
                </button>
                <div class="topnav-mobilenav__hover-dropdown-content" id="myMobileDropdown">
                    <a href="#" class="topnav-mobilenav__hover-dropdown-link">Link 1</a>
                    <a href="#" class="topnav-mobilenav__hover-dropdown-link">Link 2</a>
                    <a href="#" class="topnav-mobilenav__hover-dropdown-link">Link 3</a>
                </div>
            </div>
            <!-- Dropdown End -->

          <form action="#" class="topnav-mobilenav__search">
            <div class="topnav-mobilenav__search-input-dropdown-box">
                <!-- Input Box -->
                <div class="topnav-mobilenav__search-input-box">
                    <button class="topnav-mobilenav__search-icon-box">
                        <svg class="topnav-mobilenav__search-icon">
                            <use xlink:href="images/sprite.svg#icon-magnifying-glass"></use>
                        </svg>
                    </button>

                    <input type="text" name="user_input" class="topnav-mobilenav__search-input" 
                    placeholder="Search here..." 
                    autocomplete="off"
                    >

                    <span class="topnav-mobilenav__search-clear-input topnav-mobilenav__search-clear-input--hide">
                        &times;
                    </span>
                </div>
                
                <!-- Dropdown Box -->
                <div class="topnav-mobilenav__search-dropdown-content">
                    <a href="#" class="topnav-mobilenav__search-dropdown-link">TEXT 1</a>
                    <a href="#" class="topnav-mobilenav__search-dropdown-link">TEXT 2</a>
                    <a href="#" class="topnav-mobilenav__search-dropdown-link">TEXT 3</a>
                    <a href="#" class="topnav-mobilenav__search-dropdown-link">TEXT 4</a>
                    <a href="#" class="topnav-mobilenav__search-dropdown-link">TEXT 5</a>
                </div>

                <!-- No Results Dropdown -->
                <div class="topnav-mobilenav__search-dropdown-no-results">
                    <span class="topnav-mobilenav__search-dropdown-no-results-text">
                        No matches found
                    </span>
                </div>
            </div>

            <button class="topnav-mobilenav__search-button">
                Search
            </button>
        </form>

          </div>
          
         </nav>

    </header>
    <section class="_0052-sect_2">SECTION 2</section>
    <section class="_0052-sect_3">SECTION 3</section>
    <section class="_0052-sect_4">SECTION 4</section>
    <section class="_0052-sect_5">SECTION 5</section>
    <section class="_0052-sect_6">SECTION 6</section>
    <section class="_0052-sect_7">SECTION 7</section>
    

    <script src="js/index.js"></script>
</body>
</html>