<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="_0052">

    <header class="_0052-sect_1">

        <!-- Navbar Start -->
        <nav class="_0052-sect_1-topnav">
            <!-- Logo -->
            <a href="#" class="_0052-sect_1-topnav__logo-link">
                <!-- <img src="images/logo.png" alt="Website Logo" class="_0052-sect_1-topnav__logo"> -->
                Prozperitiii
            </a>
            
            <!-- Navigation Links +  -->
            <!-- <div class="_0052-sect_1-topnav__link-icon-box"> -->
                
                <!-- Links -->
                <div class="_0052-sect_1-topnav__link-dot-dropdown-box">
                    <div class="_0052-sect_1-topnav__link-box">
                        <a href="#" class="_0052-sect_1-topnav__link _0052-sect_1-topnav__link--1">About</a>
                        <a href="#" class="_0052-sect_1-topnav__link _0052-sect_1-topnav__link--2">Contact</a>
                    </div>
                    
                    <!-- Responsive Dot Icon Dropdown (#2) -->
                    <div class="_0052-sect_1-topnav__link-dot-dropdown-2">
                        <span class="_0052-sect_1-topnav__link-dot-icon-box-2" onclick="openTopnavLinkDotDropDownTwo()">
                            <svg class="_0052-sect_1-topnav__link-dot-icon-2">
                                <use xlink:href="images/sprite.svg#icon-dots-three-horizontal"></use>
                            </svg>
                        </span>
                        <div id="topNavLinkDotDropdown_2" class="_0052-sect_1-topnav__link-dot_2-dropdown-content">
                            <a href="#" class="_0052-sect_1-topnav__link-dot_2-link _0052-sect_1-topnav__link-dot_2-link--1">
                                About
                            </a>
                            <a href="#" class="_0052-sect_1-topnav__link-dot_2-link _0052-sect_1-topnav__link-dot_2-link--2">
                                Contact
                            </a>
                        </div>
                    </div>
            
                </div>
                
            <!-- </div> -->

        </nav>
        <!-- Navbar End -->

        <!-- Mobile Navbar Start -->
        <nav class="_0052-sect_1-topnav-mobilenav">

            <!-- Logo -->
            <a href="#" class="_0052-sect_1-topnav-mobilenav__logo-link">
                <!-- <img src="images/logo.png" alt="Website Logo" class="_0052-sect_1-topnav-mobilenav__logo"> -->
                Prozperitiii
            </a>

            <!-- Hamburger Icon -->
            <div class="_0052-sect_1-topnav-mobilenav__bars-icon" onclick="openMobileMenu()">
                <div class="_0052-sect_1-topnav-mobilenav__bars-icon-line"></div>
                <div class="_0052-sect_1-topnav-mobilenav__bars-icon-line"></div>
                <div class="_0052-sect_1-topnav-mobilenav__bars-icon-line"></div>
            </div>

        </nav>
    
        <nav class="_0052-sect_1-topnav-mobilenav__mobile-menu">
            <div id="mobileLinks" class="_0052-sect_1-topnav-mobilenav__link-dropdown-search-box">

                <div class="_0052-sect_1-topnav-mobilenav__link-box">
                    <a href="#" class="_0052-sect_1-topnav-mobilenav__link">About</a>
                    <a href="#" class="_0052-sect_1-topnav-mobilenav__link">Contact</a>
                </div>

            </div>
        </nav>
        <!-- Mobile Navbar End -->

    </header>
    <section class="_0052-sect_2">
        <div class="_0052-sect_2-text-box-1">
            <h3 class="_0052-sect_2-text-1">Premium bookkeeping services for businesses</h3>
        </div>
        <div class="_0052-sect_2-text-box-2">
            <p class="_0052-sect_2-text-2">We help businesses THRIVE by handling their books. Want to get in touch?</p>
        </div>
        <div class="_0052-sect_2-button-box">
            <!-- <button class="_0052-sect_2-button btn btn--lg btn--dark">Contact</button> -->
            <a href="#" class="_0052-sect_2-button btn btn--link btn--link-lg btn--dark">Contact</a>
        </div>
    </section>
    <section class="_0052-sect_3">
        <img src="images/img-1.jpg" alt="Picture 1" class="_0052-sect_3-photo-1">
        <img src="images/img-2.jpg" alt="Picture 2" class="_0052-sect_3-photo-2">
        <img src="images/img-3.jpg" alt="Picture 3" class="_0052-sect_3-photo-3">
    </section>
    <section class="_0052-sect_4">
        <div class="_0052-sect_4-text-box-1">
            <h3 class="_0052-sect_4-text-1">Reasons to outsource your bookkeeping</h3>
        </div>
        <div class="_0052-sect_4-container">
            <div class="_0052-sect_4-number-text-box-1">
                <div class="_0052-sect_4-number-box">1</div>
                <div class="_0052-sect_4-text-box-2">
                    <h4 class="_0052-sect_4-text-2">Saves Time</h4>
                    <p class="_0052-sect_4-text-3">Bookkeeping is deadly important for the financial health of your business. 
                        But doing it yourself can become a problem. As your business grows, you'll 
                        be spending more and more time on bookkeeping. But if you outsource it, 
                        you'll have all that time back to invest into your business. That's what 
                        smart business owners do!
                    </p>
                </div>
            </div>
            <div class="_0052-sect_4-number-text-box-2">
                <div class="_0052-sect_4-number-box">2</div>
                <div class="_0052-sect_4-text-box-2">
                    <h4 class="_0052-sect_4-text-2">Less Stress</h4>
                    <p class="_0052-sect_4-text-3">Struggling to do your own bookkeeping while running a hectic business isn't 
                        fun. Not only that, it increases the level your levels of stress and 
                        anxiety. Outsourcing it will relieve you of all that stress and put 
                        your mind at ease that your books are always in order
                    </p>
                </div>
            </div>
            <div class="_0052-sect_4-number-text-box-3">
                <div class="_0052-sect_4-number-box">3</div>
                <div class="_0052-sect_4-text-box-2">
                    <h4 class="_0052-sect_4-text-2">Less Stress</h4>
                    <p class="_0052-sect_4-text-3">If you chose to hire a full time or even part-time employee do your bookkeeping, 
                        it'll cost you a lot more. By outsourcing it, you'll save on employee salaries, 
                        training costs and training expenses
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="_0052-sect_5">
        <div class="_0052-sect_5-text-box-1">
            <h3 class="_0052-sect_5-text-1">Services Offered</h3>
        </div>
        <div class="_0052-sect_5-container">

            <!-- Card Start -->
            <div class="card _0052-sect_5-card-1">
                <div class="card__body">
                    <div class="_0052-sect_5-card-photo-box-1"></div>
                    <div class="_0052-sect_5-card-text-box-2">
                        <h4 class="_0052-sect_5-card-text-2">Categorising Transactions</h4>
                        <p class="_0052-sect_5-card-text-3">Recording and categorising transactions is a key part of the bookkeeping process. It might seem dull, but that's fine. We'll take care of all that while you focus on running your business</p>
                    </div>
                </div>
            </div>
            <!-- Card End -->

            <!-- Card Start -->
            <div class="card _0052-sect_5-card-2">
                <div class="card__body">
                    <div class="_0052-sect_5-card-photo-box-2"></div>
                    <div class="_0052-sect_5-card-text-box-2">
                        <h4 class="_0052-sect_5-card-text-2">Bank Reconciliation</h4>
                        <p class="_0052-sect_5-card-text-3">As part of managing your financial data, we'll make sure that all your business transactions are properly recorded on our systems</p>
                    </div>
                </div>
            </div>
            <!-- Card End -->

            <!-- Card Start -->
            <div class="card _0052-sect_5-card-3">
                <div class="card__body">
                    <div class="_0052-sect_5-card-photo-box-3"></div>
                    <div class="_0052-sect_5-card-text-box-2">
                        <h4 class="_0052-sect_5-card-text-2">Financial Reporting</h4>
                        <p class="_0052-sect_5-card-text-3">Our bookkeeping process will result in accurate reports that clearly show the financial health of your business. This will then help you make more informed business decisions</p>
                    </div>
                </div>
            </div>
            <!-- Card End -->
        </div>
    </section>
    <section class="_0052-sect_6">
        <div class="_0052-sect_6-text-box-1">
            <h3 class="_0052-sect_6-text-1">Sign Up For Our Newsletter</h3>
        </div>
        <div class="_0052-sect_6-newsletter-box">
            <!-- Form Start -->
            <form class="form">
                <div class="form__group form__group--mb-0">
                    <div class="form__input-box-container">
                        <div class="form__input-box">
                            <input type="email" class="form__control form__control-mt-0 form__control-p-1_35" name="email" autocomplete="off" placeholder="Email...">
                        </div>
                        <!-- Button Start -->
                        <button type="submit" class="form__btn form__btn--dark form__btn--rounded">
                            Subscribe
                        </button>
                        <!-- Button End -->
                    </div>
                </div>
            </form>
            <!-- Form End -->
        </div>
    </section>
    <section class="_0052-sect_7">SECTION 7</section>
    

    <script src="js/index.js"></script>
</body>
</html>