<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="_0052">

    <header class="_0052-sect_1">

        <!-- Navbar Start -->
        <nav class="_0052-sect_1-topnav">
            <!-- Logo -->
            <a href="#" class="_0052-sect_1-topnav__logo-link">
                <!-- <img src="images/logo.png" alt="Website Logo" class="_0052-sect_1-topnav__logo"> -->
                Prozperitiii
            </a>
            
            <!-- Navigation Links +  -->
            <!-- <div class="_0052-sect_1-topnav__link-icon-box"> -->
                
                <!-- Links -->
                <div class="_0052-sect_1-topnav__link-dot-dropdown-box">
                    <div class="_0052-sect_1-topnav__link-box">
                        <a href="#" class="_0052-sect_1-topnav__link _0052-sect_1-topnav__link--1">About</a>
                        <a href="#" class="_0052-sect_1-topnav__link _0052-sect_1-topnav__link--2">Contact</a>
                    </div>
                    
                    <!-- Responsive Dot Icon Dropdown (#2) -->
                    <div class="_0052-sect_1-topnav__link-dot-dropdown-2">
                        <span class="_0052-sect_1-topnav__link-dot-icon-box-2" onclick="openTopnavLinkDotDropDownTwo()">
                            <svg class="_0052-sect_1-topnav__link-dot-icon-2">
                                <use xlink:href="images/sprite.svg#icon-dots-three-horizontal"></use>
                            </svg>
                        </span>
                        <div id="topNavLinkDotDropdown_2" class="_0052-sect_1-topnav__link-dot_2-dropdown-content">
                            <a href="#" class="_0052-sect_1-topnav__link-dot_2-link _0052-sect_1-topnav__link-dot_2-link--1">
                                About
                            </a>
                            <a href="#" class="_0052-sect_1-topnav__link-dot_2-link _0052-sect_1-topnav__link-dot_2-link--2">
                                Contact
                            </a>
                        </div>
                    </div>
            
                </div>
                
            <!-- </div> -->

        </nav>
        <!-- Navbar End -->

        <!-- Mobile Navbar Start -->
        <nav class="_0052-sect_1-topnav-mobilenav">

            <!-- Logo -->
            <a href="#" class="_0052-sect_1-topnav-mobilenav__logo-link">
                <!-- <img src="images/logo.png" alt="Website Logo" class="_0052-sect_1-topnav-mobilenav__logo"> -->
                Prozperitiii
            </a>

            <!-- Hamburger Icon -->
            <div class="_0052-sect_1-topnav-mobilenav__bars-icon" onclick="openMobileMenu()">
                <div class="_0052-sect_1-topnav-mobilenav__bars-icon-line"></div>
                <div class="_0052-sect_1-topnav-mobilenav__bars-icon-line"></div>
                <div class="_0052-sect_1-topnav-mobilenav__bars-icon-line"></div>
            </div>

        </nav>
    
        <nav class="_0052-sect_1-topnav-mobilenav__mobile-menu">
            <div id="mobileLinks" class="_0052-sect_1-topnav-mobilenav__link-dropdown-search-box">

                <div class="_0052-sect_1-topnav-mobilenav__link-box">
                    <a href="#" class="_0052-sect_1-topnav-mobilenav__link">About</a>
                    <a href="#" class="_0052-sect_1-topnav-mobilenav__link">Contact</a>
                </div>

            </div>
        </nav>
        <!-- Mobile Navbar End -->

    </header>
    <section class="_0052-sect_2">
        <div class="_0052-sect_2-text-box-1">
            <h3 class="_0052-sect_2-text-1">Premium bookkeeping services for businesses</h3>
        </div>
        <div class="_0052-sect_2-text-box-2">
            <p class="_0052-sect_2-text-2">We help businesses THRIVE by handling their books. Want to get in touch?</p>
        </div>
        <div class="_0052-sect_2-button-box">
            <!-- <button class="_0052-sect_2-button btn btn--lg btn--dark">Contact</button> -->
            <a href="#" class="_0052-sect_2-button btn btn--link btn--link-lg btn--dark">Contact</a>
        </div>
    </section>
    <section class="_0052-sect_3">
        <img src="images/img-1.jpg" alt="Picture 1" class="_0052-sect_3-photo-1">
        <img src="images/img-2.jpg" alt="Picture 2" class="_0052-sect_3-photo-2">
        <img src="images/img-3.jpg" alt="Picture 3" class="_0052-sect_3-photo-3">
    </section>
    <section class="_0052-sect_4">SECTION 4</section>
    <section class="_0052-sect_5">SECTION 5</section>
    <section class="_0052-sect_6">SECTION 6</section>
    <section class="_0052-sect_7">SECTION 7</section>
    

    <script src="js/index.js"></script>
</body>
</html>