<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="_0052">

    <header class="_0052-sect_1">

        <!-- Navbar Start -->
        <nav class="_0052-sect_1-topnav">
            <!-- Logo -->
            <a href="#" class="_0052-sect_1-topnav__logo-link">
                <!-- <img src="images/logo.png" alt="Website Logo" class="_0052-sect_1-topnav__logo"> -->
                Prozperitiii
            </a>
                
                <!-- Navigation Links + Dropdown Menu (optional) + Search Bar (optional) -->
                <div class="_0052-sect_1-topnav__link-box">
                    <a href="#" class="_0052-sect_1-topnav__link _0052-sect_1-topnav__link--1">About</a>
                    <a href="#" class="_0052-sect_1-topnav__link _0052-sect_1-topnav__link--2">Contact</a>
                    
                    <!-- Icon Dropdopwn -->
                    <div class="_0052-sect_1-topnav__link-dot-dropdown">
                        <span class="_0052-sect_1-topnav__link-dot-icon-box" onclick="openTopnavLinkDotDropDown()">
                            <svg class="_0052-sect_1-topnav__link-dot-icon">
                                <use xlink:href="images/sprite.svg#icon-dots-three-horizontal"></use>
                            </svg>
                        </span>
                        <div id="topNavLinkDotDropdown_1" class="_0052-sect_1-topnav__link-dot-dropdown-content">
                            <a href="#" class="_0052-sect_1-topnav__link-dot-link _0052-sect_1-topnav__link-dot-link--1">
                                About
                            </a>
                            <a href="#" class="_0052-sect_1-topnav__link-dot-link _0052-sect_1-topnav__link-dot-link--2">
                                Contact
                            </a>
                        </div>
                    </div>

                </div>

        </nav>
        <!-- Navbar End -->

        <!-- Mobile Navbar Start -->

        <nav class="_0052-sect_1-topnav-mobilenav">

            <!-- Logo -->
            <a href="#" class="_0052-sect_1-topnav-mobilenav__logo-link">
                <img src="images/logo.png" alt="Website Logo" class="_0052-sect_1-topnav-mobilenav__logo">
            </a>

             <!-- Hamburger Icon -->
             <div class="_0052-sect_1-topnav-mobilenav__icon" onclick="openMobileMenu()">
                <div class="_0052-sect_1-topnav-mobilenav__icon-line"></div>
                <div class="_0052-sect_1-topnav-mobilenav__icon-line"></div>
                <div class="_0052-sect_1-topnav-mobilenav__icon-line"></div>
            </div>

        </nav>
          
        <nav class="_0052-sect_1-topnav-mobilenav__mobile-menu">
            <div class="_0052-sect_1-topnav-mobilenav__link-dropdown-search-box" id="mobileLinks">
                <div class="_0052-sect_1-topnav-mobilenav__link-box">
                    <a href="#" class="_0052-sect_1-topnav-mobilenav__link">Contact</a>
                    <a href="#" class="_0052-sect_1-topnav-mobilenav__link">About</a>
                </div>
            </div>
        </nav>

    </header>
    <section class="_0052-sect_2">SECTION 2</section>
    <section class="_0052-sect_3">SECTION 3</section>
    <section class="_0052-sect_4">SECTION 4</section>
    <section class="_0052-sect_5">SECTION 5</section>
    <section class="_0052-sect_6">SECTION 6</section>
    <section class="_0052-sect_7">SECTION 7</section>
    

    <script src="js/index.js"></script>
</body>
</html>