<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="_0052">

    <section class="_0052-sect_1">SECTION 1</section>
    <section class="_0052-sect_2">SECTION 2</section>
    <section class="_0052-sect_3">SECTION 3</section>
    <section class="_0052-sect_4">SECTION 4</section>
    <section class="_0052-sect_5">SECTION 5</section>
    <section class="_0052-sect_6">SECTION 6</section>
    <section class="_0052-sect_7">SECTION 7</section>
    

    <script src="js/index.js"></script>
</body>
</html>