*,
*::before,
*::after { /* CSS Reset */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100%; /* Ensures HTML page is at least as high as browser viewport */
  font-size: 62.5%; /* Root Font Size (1rem = 10px) */
}

body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh; /* Ensures page body is at least as high as browser viewport */
  box-sizing: border-box; /* Border & Padding included in Width & Height */
}

body {
  font-family: "Roboto", serif;
  font-weight: 300;
  color: #000000;
}

._0052 {
  display: grid;
  grid-template-rows: repeat(4, min-content) 20vw min-content;
  grid-template-columns: [full-start] 1fr [centre-start] repeat(12, [col-start] minmax(min-content, 9.67rem) [col-end]) [centre-end] 1fr [full-end];
}

._0052 > * {
  font-size: 2.6rem;
  padding: 0.5rem;
}

._0052-sect_1 {
  background-color: #0E49B5;
  grid-column: full-start/full-end;
}
._0052-sect_1-topnav {
  /* Add a purple background color to the top navigation */
  background-color: inherit;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Mobile Navbar */
}
._0052-sect_1-topnav__logo-link {
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  margin-left: 0.6rem;
}
._0052-sect_1-topnav__link-dot-dropdown-box {
  background-color: grey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 20%;
}
._0052-sect_1-topnav__link-box {
  background-color: #00FF00;
  flex: 0 0 90%;
  display: flex;
  justify-content: flex-end;
  column-gap: 0.8rem;
}
._0052-sect_1-topnav__link {
  font-size: 1.5rem;
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  /* Dropdown Content (Hidden by Default) */
  /* Style the links inside the dropdown */
}
._0052-sect_1-topnav__link:hover {
  color: rgb(229.5, 229.5, 229.5);
}
._0052-sect_1-topnav__link-dot-dropdown-2 {
  display: inline-block;
}
._0052-sect_1-topnav__link-dot-icon-box-2 {
  cursor: pointer;
  display: none;
}
._0052-sect_1-topnav__link-dot-icon-2 {
  width: 2.1rem;
  height: 2.1rem;
  fill: #000000;
}
._0052-sect_1-topnav__link-dot_2-dropdown-content {
  display: none;
  position: absolute;
  top: 103%;
  min-width: 14.5rem;
  background-color: #F1F1F1;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* This class will be added by JavaScript to display the dropdown menu when the 
      user clicks */
}
._0052-sect_1-topnav__link-dot_2-dropdown-content--show {
  display: block;
}
._0052-sect_1-topnav__link-dot_2-link {
  font-size: 1.5rem;
  color: #000000;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: none;
  /* Add a black background to dropdown links on hover */
}
._0052-sect_1-topnav__link-dot_2-link:hover {
  color: #EEEEEE;
  background-color: #333333;
}
._0052-sect_1-topnav-mobilenav {
  /* Add same background color to mobile navigation */
  background-color: inherit;
  padding: 1.5rem;
  display: none;
  /* Hamburger menu icon */
  /* Menu links */
}
._0052-sect_1-topnav-mobilenav__logo-link {
  display: inline-block;
  margin-left: 0.8rem;
}
._0052-sect_1-topnav-mobilenav__bars-icon {
  height: 2.4rem;
  margin-right: 0.8rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
._0052-sect_1-topnav-mobilenav__bars-icon-line {
  background-color: #FFFFFF;
  width: 3rem;
  height: 0.3rem;
}
._0052-sect_1-topnav-mobilenav__mobile-menu {
  background-color: #9327D6;
  display: none;
}
._0052-sect_1-topnav-mobilenav__link-dropdown-search-box {
  display: none;
  /* IMPORTANT: Padding must be applied here, and not on .topnav-mobilenav__mobile-menu 
     (above) to prevent the mobile navbar bulging out at the bottom!
  */
  padding: 1.5rem;
}
._0052-sect_1-topnav-mobilenav__link {
  font-size: 1.5rem;
  color: #F2F2F2;
  text-decoration: none;
  padding: 1.4rem 1.6rem 1.4rem 0.48rem;
  display: block;
}
._0052-sect_1-topnav-mobilenav__link:hover {
  color: rgb(229.5, 229.5, 229.5);
}

._0052-sect_2 {
  background-color: #808080;
  grid-column: full-start/col-end 6;
}

._0052-sect_3 {
  background-color: #F4A4B4;
  grid-column: col-start 7/full-end;
}

._0052-sect_4 {
  background-color: #00FF00;
  grid-column: full-start/full-end;
}

._0052-sect_5 {
  background-color: #FFA500;
  grid-column: full-start/full-end;
}

._0052-sect_6 {
  background-color: #F5F5DC;
  grid-column: full-start/full-end;
}

._0052-sect_7 {
  background-color: #333333;
  grid-column: full-start/full-end;
}

/*# sourceMappingURL=styles.css.map */
