._0052 {
    display: grid;
    grid-template-rows: repeat(4, min-content) 20vw min-content;
    grid-template-columns: [full-start] 1fr [centre-start] repeat(12, [col-start] minmax(min-content, 9.67rem) [col-end]) [centre-end] 1fr [full-end];
}

._0052 > * {
    font-size: 2.6rem;
    padding: .5rem;
}

._0052-sect_1 {
    background-color: #0E49B5;
    grid-column: full-start / full-end;

    &-topnav {
        /* Add a black background color to the top navigation */
        // background-color: #333333;
        background-color: inherit;  // Takes background colour set on its parent
        // overflow: hidden;  // Hides overflow (required)
        padding: .8rem;  // Creates space inside the navbar (optional, but recommended!)

        position: relative;  // Used to position main dropdown & dot dropdown (required)

        display: flex;
        align-items: center;

        column-gap: 10%;  // Creates space between icon & links, dropdown, search bar etc


        &__logo-link {
            // background-color: grey;  // Testing
            display: inline-block;
            text-decoration: none;
        }

        &__link-box {
            // background-color: grey;  // Testing
            flex: 0 0 80%;  // Reference for search bar size

            display: flex;
            align-items: center;

            // flex: 0 0 25%;
        }
        
        /* Style the links inside the navigation bar */
        &__link {
            // font-size: 1.7rem;
            font-size: 1.55rem;
            color: #F2F2F2;
            text-align: center;
            text-decoration: none;  // Removes default underline
            // padding: 1.4rem 1.6rem;
            padding: 1.3rem 1.5rem;
            display: inline-block;

            &:hover {
                color: #FFFFFF;
                background-color: #555555;
            }

            /* Add an active class to highlight the current page */
            &--active {
                color: #FFFFFF;
                background-color: #04AA6D;
            }

            &-dot-dropdown {
                display: inline-block;  // Makes dropdown only occupy as much space as it needs (required)
            }

            &-dot-icon-box {
                // background-color: #FF0000;  // Testing
                // display: inline-block;
                cursor: pointer;
    
                // display: flex;
    
                display: none;  // Hides dot icon
            }

            &-dot-icon {
                width: 2.1rem;
                height: 2.1rem;
                fill: #F2F2F2;  // Same colour as links!
            }

            /* Dropdown Content (Hidden by Default) */
            &-dot-dropdown-content {
                display: none;
                position: absolute;  // Positions content outside dropdown (required)
                top: 100%;  // Places dropdown directly underneath navbar!
                min-width: 14.5rem;
                background-color: #F1F1F1;
                box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
                z-index: 1;  // Puts dropdown in front of other elements
        
                /* This class will be added by JavaScript to display the dropdown menu when the 
                    user clicks */
                &--show {
                    display: block;
                }
            }

            &-dot-link {
                font-size: 1.5rem; 
                color: #000000;
                padding: 1.2rem 1.6rem;
                text-decoration: none;
                // display: block;  // Testing
                display: none;  // Hides all dropdown links initially
                text-align: left;
        
                /* Add a black background to dropdown links on hover */
                &:hover {
                    color: #EEEEEE;
                    background-color: #333333;
                }
            }
        }


        /* Mobile Navbar */
        &-mobilenav {
            /* Add a black background color to the top navigation */
            // background-color: #333333;
            background-color: inherit;  // Takes background colour set on its parent
            // overflow: hidden;  // Hides overflow (required)

            // padding: .3rem 0;  // Top and bottom padding increases height (optional)

            padding: 1.5rem;  // Prevents logo and icon being too close to edge of viewport

            display: flex;
            justify-content: space-between;
            align-items: center;

            display: none;  // Testing


            &__logo-link {
                // background-color: grey;  // Testing
                display: inline-block;
                text-decoration: none;
                // margin-left: .5rem;
            }

            /* Hamburger menu icon */
            &__icon {
                // STYLING TECHNIQUE #1
                // // display: none;
                // margin-right: .8rem;
                // cursor: pointer;

                // &-line {
                //     background-color: #FFFFFF;
                //     width: 4rem;
                //     height: .4rem;
                //     // margin-bottom: .4rem;
                //     // margin-right: 1.5rem;

                //     &:first-child {
                //         // margin-bottom: .6rem;  // Creates space below first bar
                //         margin-bottom: .8rem;  // Creates space below first bar
                //     }

                //     &:last-child {
                //         // margin-top: .6rem;  // Creates space above third bar
                //         margin-top: .8rem;  // Creates space above third bar
                //     }
                // }


                // STYLING TECHNIQUE #2
                // background-color: #0000FF;  // Testing
                height: 2.4rem;  // Height needed to use flexbox (below)
                // display: none;
                margin-right: .8rem;
                cursor: pointer;

                display: flex;
                justify-content: space-between;  // Spaces out the bars (required)

                flex-direction: column;

                &-line {
                    background-color: #FFFFFF;
                    width: 3rem;
                    height: .3rem;
                    // margin-bottom: .4rem;
                    // margin-right: 1.5rem;
                }
            }

        }
    }
}

._0052-sect_2 {
    background-color: #808080;
    grid-column: full-start / col-end 6;
}

._0052-sect_3 {
    background-color: #F4A4B4;
    grid-column: col-start 7 / full-end;
}

._0052-sect_4 {
    background-color: #00FF00;
    grid-column: full-start / full-end;
}

._0052-sect_5 {
    background-color: #FFA500;
    grid-column: full-start / full-end;
}

._0052-sect_6 {
    background-color: #F5F5DC;
    grid-column: full-start / full-end;
}

._0052-sect_7 {
    background-color: #333333;
    grid-column: full-start / full-end;
}