._0052 {
    display: grid;
    grid-template-rows: min-content 40vw repeat(2, min-content) 20vw min-content;
    grid-template-columns: [full-start] 1fr [centre-start] repeat(12, [col-start] minmax(min-content, 9.67rem) [col-end]) [centre-end] 1fr [full-end];
}

// ._0052 > * {
//     font-size: 2.6rem;
//     padding: .5rem;
// }

._0052-sect_1 {
    // background-color: #0E49B5;
    background-color: #4635B1;
    grid-column: full-start / full-end;

    &-topnav {
        /* Add a purple background color to the top navigation */
        // background-color: #9327D6;
        background-color: inherit;  // Takes background colour set on its parent
        padding: .8rem;  // Creates space inside the navbar (optional, but recommended!)

        position: relative;  // Used to position responsive dropdowns (required)

        display: flex;
        justify-content: space-between;
        align-items: center;


        &__logo-link {
            // background-color: grey;  // Testing
            font-size: 2.6rem;
            color: #FFFFFF;
            display: inline-block;
            text-decoration: none;
            margin-left: .6rem;  // Creates space on the left
        }

        &__link-dot-dropdown-box {
            background-color: grey;  // Testing
            // margin-right: auto;  // Pushes links away from icons & profile picture

            display: flex;
            // justify-content: space-evenly;
            justify-content: flex-end;
            align-items: center;

            // flex: 0 0 60%;
            flex: 0 0 20%;
        }

        &__link-box {  // Used to position links from responsive dropdown at smaller breakpoints
            background-color: #00FF00;  // Testing
    
            flex: 0 0 90%;
    
            display: flex;
            // justify-content: center;
            justify-content: flex-end;
    
            column-gap: .8rem;  // Creates space between links
        }

        &__link {
            // font-size: 1.4rem;
            font-size: 1.6rem;
            color: #FFFFFF;
            display: inline-block;
            text-decoration: none;

            &:hover {
                color: darken(#FFFFFF, 10%);
            }

            &-dot-dropdown-2 {
                display: inline-block;  // Makes dropdown only occupy as much space as it needs (required)
            }

            &-dot-icon-box-2 {
                // background-color: #FF0000;  // Testing
                // display: inline-block;
                cursor: pointer;
    
                // display: flex;
    
                display: none;  // Hides dot icon
            }

            &-dot-icon-2 {
                width: 2.1rem;
                height: 2.1rem;
                fill: #000000;
            }

            /* Dropdown Content (Hidden by Default) */
            &-dot_2-dropdown-content {
                display: none;
                position: absolute;  // Positions content outside dropdown (required)
                // top: 100%;  // Places dropdown directly underneath navbar!
                top: 103%;  // Places dropdown beneath navbar with a tiny gap
                min-width: 14.5rem;
                background-color: #F1F1F1;
                box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
                z-index: 1;  // Puts dropdown in front of other elements
        
                /* This class will be added by JavaScript to display the dropdown menu when the 
                    user clicks */
                &--show {
                    display: block;
                }
            }

            /* Style the links inside the dropdown */
            &-dot_2-link {
                font-size: 1.5rem; 
                color: #000000;
                padding: 1.2rem 1.6rem;
                text-decoration: none;
                // display: block;  // Testing
                display: none;  // Hides all dropdown links initially
        
                /* Add a black background to dropdown links on hover */
                &:hover {
                    color: #EEEEEE;
                    background-color: #333333;
                }
            }
        }

        
        /* Mobile Navbar */
        &-mobilenav {
            /* Add same background color to mobile navigation */
            // background-color: #9327D6;
            background-color: inherit;  // Takes background colour set on its parent

            // padding: .55rem 0;  // Top and bottom padding increases height (optional)
        
            padding: 1.5rem;  // Prevents logo and icon being too close to edge of viewport

            display: none;  // Required


            &__logo-link {
                // background-color: grey;  // Testing
                display: inline-block;
                // margin-left: .5rem;
                margin-left: .8rem;
            }    

            /* Hamburger menu icon */
            &__bars-icon {
                // STYLING TECHNIQUE #1
                // // display: none;
                // margin-right: .8rem;
                // cursor: pointer;
    
                // &-line {
                //     background-color: #FFFFFF;
                //     width: 3rem;
                //     height: .3rem;
                //     // margin-bottom: .4rem;
                //     // margin-right: 1.5rem;
    
                //     &:first-child {
                //         margin-bottom: .6rem;  // Creates space below first bar
                //     }
    
                //     &:last-child {
                //         margin-top: .6rem;  // Creates space above third bar
                //     }
                // }
    
            
                // STYLING TECHNIQUE #2
                // background-color: #0000FF;  // Testing
                height: 2.4rem;  // Height needed to use flexbox (below)
                // display: none;
                margin-right: .8rem;
                cursor: pointer;
    
                display: flex;
                justify-content: space-between;  // Spaces out the bars (required)
    
                flex-direction: column;
    
                &-line {
                    background-color: #FFFFFF;
                    width: 3rem;
                    height: .3rem;
                    // margin-bottom: .4rem;
                    // margin-right: 1.5rem;
                }
            }

            &__mobile-menu {
                // background-color: #0000FF;  // Testing
                background-color: #9327D6;
    
                display: none;  // Required
    
                // padding: 1.5rem;  // Prevents logo and icon being too close to edge of viewport
            }

            &__link-dropdown-search-box {
                // background-color: #0000FF;  // Testing
                display: none;  // Changed by JavaScript to show navigation links
    
                /* IMPORTANT: Padding must be applied here, and not on .topnav-mobilenav__mobile-menu 
                   (above) to prevent the mobile navbar bulging out at the bottom!
                */
    
                padding: 1.5rem;  // Prevents logo and icon being too close to edge of viewport
            }

            &__link-box {
                // background-color: grey;  // Testing
            }

            /* Menu links */
            &__link {
                // background-color: #0000FF;  // Testing
                font-size: 1.5rem;
                color: #F2F2F2;
                text-decoration: none;  // Removes default underline
                padding: 1.4rem 1.6rem 1.4rem .48rem;  // Left padding creates space on the left of links
                display: block;  // Makes links occupy as much space as possile (required)

                // line-height: 1.3;

                &:hover {
                    color: darken(#FFFFFF, 10%);
                }
            }
        }    
    }
}

._0052-sect_2 {
    // background-color: #808080;
    background-color: #FFFBCA;
    grid-column: full-start / col-end 6;

    display: flex;
    justify-content: center;
    align-items: center;

    row-gap: 1rem;

    flex-direction: column;

    // display: grid;
    // grid-template-rows: repeat(6, 1fr);
    // grid-template-columns: repeat(6, 1fr);

    &-text-box-1 {
        background-color: #FF0000;  // Testing
        width: 60%;
    }

    &-text-1 {
        font-size: 4.6rem;
    }

    &-text-box-2 {
        background-color: #FF0000;  // Testing
        width: 60%;
    }

    &-text-2 {
        font-size: 2.4rem;
        color: #4b4848;
    }

    &-button-box {
        background-color: #00FF00;  // Testing
        width: 60%;
    }

    &-button {
        width: 50%;
        border-radius: .3rem;
    }
}

._0052-sect_3 {
    background-color: #F4A4B4;
    grid-column: col-start 7 / full-end;
}

._0052-sect_4 {
    background-color: #00FF00;
    grid-column: full-start / full-end;
}

._0052-sect_5 {
    background-color: #FFA500;
    grid-column: full-start / full-end;
}

._0052-sect_6 {
    background-color: #F5F5DC;
    grid-column: full-start / full-end;
}

._0052-sect_7 {
    background-color: #333333;
    grid-column: full-start / full-end;
}